@font-face {
	font-family: 'Dancing Script';
	src: url('../assets/DancingScript.ttf') format('truetype');
	font-weight: 700;
      }

#main {
	font-family: 'Dancing Script', 'sans-serif';
	color: rgb(255,255,255);
	background-color: rgb(39, 36, 36);
	font-weight: 400;
	margin: 0;
}

#content {
	z-index: -1;
	box-sizing: border-box;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width:100%;
	min-height:100vh;
}

#topbar {
	display: flex;
	align-items: center;
	justify-content: center;
	width:100%;
	height: 70px;
	background-color: rgb(0, 0, 0);
}

.tabtn {
	display:flex;
	align-items: center;
	justify-content: center;
	margin: 10px 15px;
	height: 40px;
	width: 120px;
	background-color: rgb(219, 5, 5);
	border-width:1px;
	border-color: rgb(255,255,255);
	border-radius: 3px;
	font-size: 1.7rem;
	font-family: 'Dancing Script', 'sans-serif';
}

#infodiv {
	box-sizing: border-box;
	min-height: calc(100vh - 120px);
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.head {
	font-size: 40px;
	margin:0;
}

.headbox {
	width:500px;
	display: flex;
	align-items: center;
	background-color: rgb(20, 20, 20);
	border: 3px solid rgb(255,255,255);
	margin: 20px 0;
}

.icon {
	width:60px;
	margin-right:80px;
}

.infobox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 700px;
	min-height: 100px;
	border: 5px solid rgb(247, 247, 247);
	background-color: rgb(20, 20, 20);
	padding: 10% 10%;
	margin: 30px 0;
}

.infotext {
	text-align: center;
	word-wrap: break-word;
	width:100%;
	font-size: 23px;
	margin:0;
}

.infohead {
	margin-bottom: 10px;
	font-size:35px; 
	text-decoration: underline;
}

#bottombar {
	width:100%;
	height: 50px;
	background-color: rgb(0, 0, 0);
}